{% extends 'base.html' %}

{% block content%}

    <h3 class="mt-2">TV Show {{show.id}}</h3><br>

    <h3 class="mt-2">Title: {{show.title}}</h3><br>

    <h3 class="mt-2">Network:  {{show.network.name}}</h3><br>

    <h4 class="mt-2">Release Date: {{show.release_date}} </h4><br>

    <h4 class="mt-2">Description: <br>{{show.desc}}</h4>



    <h4 class="mt-4">Last update: {{show.updated_at}}</h4>

    <div class="row">
        <div class="col-1">
            <a href="../shows/{{show.id}}/edit">Edit<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill " viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
            </svg></a>
        </div>
        <div class="col-1">
            <a href="" data-url="../shows/delete/{{show.id}}" data-bs-toggle="modal" data-bs-target="#myModal" class="btndelete">Delete<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill text-danger" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg></a>
        </div>
    </div>



{% endblock %}